mat-drawer-container {
  height: 100%;

  .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    * {
      margin: 0;
    }
  }

  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;

    app-event-debugger-details {
      width: 100%;
    }
  }
}
